@model DemoSite.Models.DiagInfo

<fieldset>
    <legend>Config info</legend>

    <div class="display-label">IsOK</div>
    <div class="display-field">@Model.IsOK</div>
</fieldset>

<fieldset>
    <legend>Diag info</legend>
    <table>
        <thead>
        <tr>
            <th>Item</th>
            <th>Value</th>
            <th>IsOk</th>
            <th>Error</th>
        </tr>
        </thead>
        <tbody>
            @foreach (var dsi in Model.StatusItems) {
                var color = (dsi.IsOK) ? "inherit" : "Fuchsia";
                <tr>
                    <td>@dsi.Name</td>
                    <td>@dsi.Value</td>
                    <td style="background-color:@color">@dsi.IsOK</td>
                    <td><pre>@dsi.Exception ?? ""</pre></td>
                </tr>
            }
        </tbody>
    </table>

</fieldset>
